name: test-bash-mode
on:
  push:
  pull_request:
jobs:
  windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          update: true
          install: >-
            base
      - name: Install Pester
        shell: pwsh
        run: $ErrorActionPreference='Stop';Install-Module Pester -Force -Scope CurrentUser
      - name: Run tests
        shell: pwsh
        run: $ErrorActionPreference='Stop';Invoke-Pester -Path tests -CI
